In [1]:
import pandas as pd
import numpy as np

In [5]:
df= pd.read_csv("sales_data_1.csv")
df.head()

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1

In [37]:
# Calculate the total revenue and total cost of goods sold
total_revenue = df["Selling price"].sum()
total_cost_of_goods_sold = df["Buying price"].sum()

# Calculate the gross margin
gross_margin = (total_revenue - total_cost_of_goods_sold) / total_revenue

# Convert the result to a percentage
gross_margin_percentage = gross_margin * 100

print(f"Gross Margin: {gross_margin_percentage:.2f}%")

Gross Margin: 23.33%

In [60]:
# Group the data by vendor and calculate the total profit for each vendor
vendor_profit = df.groupby("Firm bought from")["Profit"].sum()

# Find the vendor with the highest total profit
most_profitable_vendor = vendor_profit.idxmax()
total_profit = vendor_profit.max()

print(f"The most profitable vendor is {most_profitable_vendor}")

The most profitable vendor is Vendor7

In [66]:
least_profitable_customer = df.groupby('Customer')['Profit'].sum().idxmin()
print(f"3. Least Profitable Customer: {least_profitable_customer}")

3. Least Profitable Customer: Customer9

In [57]:
# Group the data by the day of the week and calculate the total profit for each day
df["Day_of_Week"] = df["Date"].dt.day_name()
day_of_week_profit = df.groupby("Day_of_Week")["Profit"].sum()

# Find the day of the week with the highest total profit
most_profitable_day = day_of_week_profit.idxmax()

print(f"The most profitable day of the week is {most_profitable_day}")

The most profitable day of the week is Monday

In [58]:
# Group the data by the day of the week and calculate the total profit for each day
df["Day_of_Week"] = df["Date"].dt.day_name()
day_of_week_profit = df.groupby("Day_of_Week")["Profit"].sum()

# Find the day of the week with the lowest total profit
least_profitable_day = day_of_week_profit.idxmin()
total_profit = day_of_week_profit.min()

print(f"The least profitable day of the week is {least_profitable_day}")

The least profitable day of the week is Thursday

In [59]:
df1["Date"] = pd.to_datetime(df1["Date"])

# Calculate daily gross profit
df1["Daily Gross Profit"] = (df1["Selling price"] - df["Buying price"]) * df["Quantity sold"]

# Calculate the 3-day rolling average of daily gross profit
df1["3-Day Average Profit"] = df1["Daily Gross Profit"].rolling(window=3).mean()

# Display the DataFrame with the calculated average
df1

,Date,Firm bought from,Buying price,Quantity bought,Customer,Selling price,Quantity sold,Daily Gross Profit,3-Day Average Profit
0,2023-08-21,Vendor6,72.11,60,Customer7,91.58,44,856.68,NaN
1,2023-08-21,Vendor4,75.08,92,Customer7,83.71,17,146.71,NaN
2,2023-08-21,Vendor7,83.93,16,Customer2,103.76,15,297.45,433.613333
3,2023-08-21,Vendor7,52.01,62,Customer3,64.53,7,87.64,177.266667
4,2023-08-21,Vendor2,98.91,1,Customer5,140.92,1,42.01,142.366667
...,...,...,...,...,...,...,...,...,...
65,2023-08-27,Vendor4,64.82,28,Customer6,87.45,18,407.34,552.863333
66,2023-08-27,Vendor8,88.79,14,Customer3,105.59,5,84.00,552.070000
67,2023-08-27,Vendor5,63.30,81,Customer5,92.92,32,947.84,479.726667
68,2023-08-27,Vendor5,94.06,18,Customer5,125.67,4,126.44,386.093333
69,2023-08-27,Vendor5,56.28,25,Customer6,82.16,1,25.88,366.720000